- content_for :title, "Upload Notes To #{@note.course.title}"

.container
  .toolbar-desktop
    .row
      .pull-left.text-left
        = link_to @note.course, :class => 'btn' do
          = fa_icon 'chevron-left'
          Back
    .clearfix

    = render 'form_part_1', course_id: @note.course_id
    -# = render partial: 'form_part_1', collection: @form_part_1, locals: {course_id: @note.course.id}
