- content_for :title, @note.title

.container
  .toolbar-desktop
    .row
      .pull-left.text-left
        = link_to @note.course, :class => 'btn' do
          = fa_icon 'chevron-left'
          Back
    .clearfix

= link_to @note.document_file_name, @note.document.url
= image_tag @note.document.url(:large)
