- content_for :title, 'Departments'

%ul.list-group
  - departments.each do |department|
    = link_to department do
      %li.list-group-item.item
        .row
          .col-xs-12.left-section
            %span.name
              = department.name
