.container
  .toolbar-desktop.hidden-xs
    .row
      .pull-left.text-left
        = link_to my_notes_path, :class => 'btn' do
          = fa_icon 'file-text-o'
          My Notes
      .pull-right.text-right
        = link_to destroy_user_session_path, method: :delete, :class => 'btn' do
          Log out
    .clearfix

= render :partial => 'list', :locals => {:departments => @departments}
