.container
  .toolbar-desktop
    .row
      .pull-left.text-left
        = link_to departments_path, :class => 'btn' do
          = fa_icon 'chevron-left'
          Back
    .clearfix

= render :partial => 'courses/list', :locals => {:department => @department}

.add-btn-offset

.add-btn
  = link_to add_course_path(@department), remote: true do
    %i{class: "fa fa-plus", style: "font-size:40px;"}
