/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   background-color: #7DD240;
   color: white;
 }

 .file-field-hidden {
   // file fields cannot be display: none or they will not work
   position: fixed;
   top: 10000px;
 }

 #titlebar {
   background-color: #63B331;
   color: white;
   margin: 0 0 0.75em 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 4em;
   border-bottom: 0.15em solid white;
 }

 #titlebar span {
   position: relative;
   margin-left: 0.1em;
   bottom: -0.22em;
 }

 .add-btn img {
   background-color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
